[2021-08-22 16:59] shadmansaleh opened #3 "nvim-gps requires all parsers to be installed"
Currently if a parser of a supported language isn't installed `nvim-gps` fails to initialize.

It should just disable itself on filetype where parser isn't available.

Also this doesn't seem to recognize lua functions in following format
[code]

[2021-08-22 19:39] katawful commented on #3
Also experiencing this problem. I only want the parsers I need installed so the current state is not usable for me

[2021-08-22 19:48] zeitchef commented on #3
Same

[2021-08-22 22:53] ovidius72 opened #4 "Add more languages"
Very nice plugin. Are you planning to add more languages?.
 I'd like to see typescript ad typescript react (.tsx)

[2021-08-23 01:05] SmiteshP commented on #3
The issue with needing parser for all filetype should be resolved now.

[2021-08-23 01:10] SmiteshP commented on #4
Hey! I am willing to add more languages to the list :)
To begin with I stuck to languages I am proficient in and/or have some knowledge about the language. Please feel free to make a PR for your favorite languages.
I will soon add a contributions section to readme to explain how the tree-sitter queries work!

[2021-08-23 03:25] SmiteshP commented on #3
With the latest commit, I have added 2 more rules in lua to capture functions assigned to variables too.

[2021-08-23 03:31] shadmansaleh commented on #3
Confirmed issue with parser not being installed and function assigned to variable is fixed .

Though named functions inside tables aren't recognized

like:
[code]

[2021-08-23 03:44] SmiteshP commented on #3
@shadmansaleh I just added two more rules to capture these type of functions

[2021-08-23 03:50] shadmansaleh commented on #3
Works now 👍🏽

[2021-08-23 03:50] #3 closed

[2021-08-23 04:05] lmartinez-mirror opened #5 "Missing LICENSE"
This project has no license, so technically no one can use this.

You can pick one out [here](https://choosealicense.com/).

[2021-08-23 06:54] SmiteshP commented on #5
Done! 😃

[2021-08-23 06:54] #5 closed

[2021-08-24 06:52] Chaitanyabsprip commented on #4
I would like support for dart

[2021-08-24 07:46] tom-anders opened #7 "Document that you *have* to call `setup()` function before using the plugin"
The README makes it seem like you only need to call `setup()` if you want to change the default values. However, `gps.is_available` only returns true if you called `setup()`.

[2021-08-24 08:21] tom-anders opened #8 "Better support for C++ methods written outside class"
If I have

[code]
Then if my cursor is at the last line nvim-gps will just show the method `foo`. It would be very useful though if it also included the name of the class `C`. I tried adding this to the query via

[code]
But then it *just* shows the class but not the method name anymore. Looks like currently it doesn't allow for multiple captures in a single query.

[2021-08-24 09:26] SmiteshP commented on #4
Hey @ovidius72! I just added some basic queries for typescript.

[2021-08-24 09:29] ovidius72 commented on #4
@SmiteshP Thank you.
The next weekend I would like to have a look at the Treesitter API and see in if I can help in some way.

[2021-08-24 09:31] SmiteshP commented on #4
That would be great!!

[2021-08-24 14:11] SmiteshP commented on #7
Okay, I will make that more clear in the readme.

[2021-08-24 14:16] SmiteshP commented on #8
Yep, you are right! Right now only immedieatly next query can get captured. I had actually considered making a special capture group (inplace of scope-root) to retrieve next two captures for this specific case. However this was the only use case I found for it. And since the `get_location` function gets called at every cursor movement, I didn't want to add something that could it down.

[2021-08-24 14:24] #7 closed

[2021-08-24 15:14] SmiteshP commented on #8
Hey @tom-anders
I just added this feature since it doesn't seem to slow down the performance. Let me know if its working ok!

[2021-08-25 00:54] srafi1 opened #9 "bug: crashes in go with multiple type declaration"
I get the following error when running `require'nvim-gps'.get_location()` on line 3 of the following code snippet. It works fine if I remove struct B from the declaration (while leaving the parentheses).

Error:
[code]

Code snippet:
[code]

[2021-08-25 05:49] SmiteshP commented on #9
Hey @srafi1! Thanks for the bug report, the issue should be solved now with the latest commit

[2021-08-25 05:54] #9 closed

[2021-08-25 22:31] mcchrish opened #10 "Idea: display in a floating window"
Similar to something like https://github.com/wellle/context.vim and https://github.com/romgrk/nvim-treesitter-context. Display it on a one-line floating window at the top.

[2021-08-26 04:04] #10 closed, assigned to nobody

[2021-08-30 05:48] tom-anders commented on #8
Works great, thanks again!

[2021-08-30 05:48] #8 closed

[2021-08-31 13:42] zawedcvg opened #14 "unable to setup nvim-gps"
have tried installing it with vundle and this errors shows up on opening neovim after doing the required setup.

Error detected while processing /home/userName/.config/nvim/autoload/plugged/nvim-gps/plugin/nvim-gps.vim:
line    1:
E5108: Error executing lua [string ":lua"]:1: module 'nvim-gps.internal' not found:
        no field package.preload['nvim-gps.internal']
        no file './nvim-gps/int

[2021-08-31 14:12] SmiteshP commented on #14
Hmm... this is weird. Are you lazy loading the plugin?

[2021-08-31 14:40] zawedcvg commented on #14
No I am not lazyloading the plugin, and yes that file does exist

[2021-08-31 15:19] SmiteshP commented on #14
I am not sure whats causing this issue. I have structed my plugin like any other plugin 🤔
Could you try adding this line somewhere in your init.vim
[code]

[2021-08-31 15:37] zawedcvg commented on #14
yeah now that I have done this, it works fine. Thanks! Though it is a bit curious why vundle wasn't able to handle this. Probably mention this in the readme?

[2021-08-31 15:40] SmiteshP commented on #14
I am glad it worked! Yep, it is weird. I will have to look into this, whether I am missing something.

[2021-08-31 15:40] #14 closed

[2021-09-05 06:01] p00f opened #15 "Error with formatting"
![image](https://user-images.githubusercontent.com/36493671/132117125-3f828e26-001d-4919-ab81-f5da0b7e5996.png)

I have a `BufWritePre` autocommand which does `vim.lsp.buf.formatting_sync()`. In this situation when the formatter shortens
[code]
to
[code]
I get this error
`nvim-gps/lua/nvim-gps/init.lua:39: attempt to concatenate local 'capture_text' (a nil value)`

[2021-09-05 06:45] p00f commented on #15
I can't reproduce this :/

[2021-09-05 06:45] #15 closed

[2021-09-05 12:22] SmiteshP commented on #15
Hmm.. this shouldn't occur 🤔 . If some node is captured, it should return some text.
Hopefully this was just a one time error 🤷🏽‍♂️

[2021-09-05 12:45] SmiteshP commented on #4
Hello @ovidius72 and @danielebra, I recently added support for jsx and tsx files too! As far as I understand they are pretty similar to javascript and typescript respectively so the same treesitter queries should work with them too.
And thanks to @Lazytangent's contributions, the queries for javascript and typescript have improved! 😃

[2021-09-05 15:23] ovidius72 commented on #4
@SmiteshP Thank you. I'm sorry I didn't have the time to check it out.
I'm just playing with it right now. I configured it with lualine as for you example.
In tsx files it show the number "1" in place of methods.
In .ts file it shows nothing for me.
![Notification_Center](https://user-images.githubusercontent.com/3592928/132132054-1a840948-a212-4e28-a2ef-ad4319a67651.png)

typescript file. Inside

[2021-09-05 15:25] ovidius72 commented on #4
Here is the lualine section where i show up the gps module info.

[code]

[2021-09-05 15:52] SmiteshP commented on #4
Hey @ovidius72, could you open a new issue regarding this and share some code snippets so that I can reproduce this error.

[2021-09-08 16:47] Hubro opened #17 "Add more path node types"
Currently, each node in the path can be either:

- Classes and class-like objects
- Functions
- Methods (functions inside class-like objects)

And each such "symbol type" can be configured with an icon.

Would you consider adding more symbol types for languages where the current types don't map cleanly?

In particular I'm missing two common symbol types:

- Container (For Ruby modules, JavaScript

[2021-09-09 02:32] SmiteshP commented on #17
Yeah, that would be great. I was already considering adding something like a "container" for lua tables, but was't sure if it would be useful in any other languages.

[2021-09-09 02:36] SmiteshP commented on #17
Although I don't have a lot of experience with html, from what I know html tags can be quite deeply nested. In you opinion, do you think it is necessary to know context of each tag? 🤔

[2021-09-09 10:45] Hubro commented on #17
A well formatted HTML document shouldn't be *too* deeply nested. I'm a big fan of how it works in VSCode:

![image](https://user-images.githubusercontent.com/597206/132672219-a634ffd2-a001-4a2c-9b0c-110f1212e6e8.png)

I don't suppose it would be possible to extract IDs and classes and append them to each segment in the path? :thinking: I guess that would require some custom code, right?

[2021-09-09 11:05] SmiteshP commented on #17
I think this can be done. I recently added the ability to setup special transform function for each language. So once we capture the text in the start tag, we can use some special regex on it to extract ID and class name date from it.

[2021-09-09 11:08] SmiteshP commented on #17
Have a look at this line of a custom transform function for c++
https://github.com/SmiteshP/nvim-gps/blob/05f2afa363b3e9cf6cb8677276dd869b887b791c/lua/nvim-gps/init.lua#L45
Here I am using regex to extract more information from the text

[2021-09-09 11:14] Hubro commented on #17
Nice! And they can also be overridden through config, very cool. Maybe I'll contribute queries and transforms for a couple of languages this weekend if I can find the time. (HTML and YANG)

[2021-09-09 11:17] SmiteshP commented on #17
The transform functions cannot be overridden by config right now 😓

That would be awesome!! 😄

[2021-09-09 12:30] Hubro commented on #17
Oh, I just skimmed this block and misunderstood :smile:

https://github.com/SmiteshP/nvim-gps/blob/05f2afa363b3e9cf6cb8677276dd869b887b791c/lua/nvim-gps/init.lua#L71-L77

But being able to override the transforms would be a nice advanced option, it would make it a lot easier to experiment with support for new languages and contribute them later.

[2021-09-09 14:39] SmiteshP commented on #17
I decided not to expose this option to end users because they don't have control over the treesitter queries. For contributors it would be more straight forward just to modify the code directly anyways.
Most plugin managers will setup a sim-link for you, if you mention the location of your repo. Just fork and clone this repo on your machine and add the location of the repo in the plugin manager.

[2021-09-09 15:27] Hubro opened #18 "Python class methods are shown as functions"
Class methods in Python are currently shown as regular functions:

![image](https://user-images.githubusercontent.com/597206/132715340-b66ce928-0133-4d70-b9a6-041161c44a8c.png)

They should probably be shown as class methods.

The query can probably be modified to treat all function definitions that are direct children of a class definitions as methods. I'm not savvy enough with the query language

[2021-09-10 03:11] SmiteshP commented on #18
Yep! I am aware of this issue.

Yeah, you are right! I have tried doing this before but treesitter just does not capture this query when invoked on `function_definition` node inside of a class, might be a bug with treesitter but I am not sure. The query I had tried looks like this.

[code]

This issue doesn't occur in other languages because the parser itself distinguishes between methods and func

[2021-09-12 10:09] #18 closed

[2021-09-12 10:16] SmiteshP commented on #18
@Hubro have a look at the latest commit. It should fix this issue :)

[2021-09-12 12:06] Hubro commented on #18
Works! :grin:

It's a little hacky though:

![image](https://user-images.githubusercontent.com/597206/132986740-22a1207b-396c-4811-a6d9-15a824e7d451.png)

![image](https://user-images.githubusercontent.com/597206/132986748-e5a24449-7bf5-4f6e-98bb-c7dd646fe275.png)

These are edge cases, of course. A function outside of a class taking a first argument called "self" is rare, and a method with a firs

[2021-09-12 14:21] SmiteshP commented on #18
Yeah, I agree. Its not a perfect solution. XD

Yep, but unfortunately the `iter_captures` doesn't capture the `scope-root` when called on the function definition node and instead it gets captured when on class definition node. There doesn't seem a way around this. I would like to come back to this issue with a better solution.

[2021-09-19 18:12] rodhash opened #22 "File needs reload to show func name?"
Hi

I noticed that when we uncomment some code nvim-gps won't show its func name until file is reloaded, here a short vid:

I tested this in .py / .js / .cpp:

https://user-images.githubusercontent.com/29671981/133938074-4e6a4df6-41d5-46f2-81a5-f28c7858370d.mp4

The same thing happens if I use directly treesitter func so I suspect there won't be much gps can do, or is it possible to do something?

[2021-09-19 20:23] rodhash commented on #17
These HTML tags would be really cool! I don't use Vscode but that's a nice thing in there.

I didn't get if this is something coming in the future, is it? Sorry I have little to none lua skills otherwise I'd offer help, perhaps it's time to start learning lua.

[2021-09-20 04:34] SmiteshP commented on #22
I am not able to reproduce this effect, everything works fine for me. Which plugin are you using for commenting? I am using "terrortylor/nvim-comment" as my commenter plugin.

[2021-09-20 04:37] SmiteshP commented on #22
Currently there is no option for that. I intend this plugin to show what "named" scope you are working inside. There is no name for loops and other statements to display.

[2021-09-20 04:40] SmiteshP commented on #17
Yep, I do want to add support for HTML. I haven't been getting much free time lately though. I will try my best to do this as soon as possible. PR's are always welcome :)

[2021-09-20 05:57] Hubro commented on #4
I added support for YANG! :tada: https://github.com/SmiteshP/nvim-gps/pull/24

<sub>Although I suspect I am the only person in the world who uses neovim + nvim-gps and codes in YANG...</sub>

[2021-09-21 03:00] rodhash commented on #22
Hi ..

That's a good point, I tried to remove the comments manually (without plugin) and the same thing happened. So since it works fine for you something else might be causing this.

And about the plugin I'm using Nerdcommenter, I have this thing installed for so long that I completely forgot its name, had to check my config files :rofl:

[2021-09-21 04:43] SmiteshP commented on #22
So this means we can rule out the comments plugin then 🤔
Are you using neovim 0.5 stable? or are you on nightly 0.6? This may be a issue with treesitter itself? I am just speculating though, I can't help out much because I can't reproduce it :(

[2021-09-21 06:11] rodhash commented on #22
Yeah for some reason it's happening with treesitter too, so weird.

I'm using stable version:
[code]

[2021-09-21 06:50] SmiteshP commented on #22
Can you elaborate? does treesitter stop highlighting after uncommenting code? If so, then it will most certainly be a bug with treesitter, and then you could try opening a issue on neovim's github.

[2021-09-21 21:33] ModdedGamers opened #25 "[ Feature Request ] Constant length for breadcrumbs"
When I use this in my statusline, I like this being in the middle. However, as it resizes, my statusbar jumps around a lot. Could you make it so that when this plugin encounters a context that would make the statusbar line longer than it is, either truncate it or set that new length as the minimum length? So that the component would only get larger as you edit, not shorter. My other idea is instea

[2021-09-21 23:40] rodhash commented on #22
Yes, I meant, this bug is happening with treesitter too, it looks like it can't highlight the block of code I just uncommented. I'm new to treesitter so I'm trying to find out if something in my setup is not properly set.

[2021-09-22 05:52] SmiteshP commented on #22
Oh I see, In that case there is nothing I can do to help :(
Its best to file bug report on neovim's repo, maybe someone can help you out 😄

[2021-09-22 05:53] #22 closed

[2021-09-22 06:05] SmiteshP commented on #25
I would consider this to be out of scope of this plugin.
I feel there is no correct way of implementing this feature as everyone will have different ideas about how this component should integrate in their statusline. So I want to leave this to the end users to implement it. nvim-gps will just provide the string output and then its up to you to do whatever you want. 😄
If you want it to have max le

[2021-09-22 06:08] SmiteshP commented on #17
Hey @Hubro and @rodhash !!
Could to try out the html branch and see if its working properly? I have tried to display the output like vscode, but before I merge I want to make sure I am not missing something 😄

[2021-09-22 06:34] #25 closed

[2021-09-23 03:02] rodhash commented on #17
Hey @SmiteshP

Sure testing new branch right now ... and it looks cool! Amazing!

In a quick test I noticed two things, not sure whether this is expected so let me show you.

1- When on **line 52** on img tag, it shows loads of classes and changes my statusline color to yellow-ish
2- When on **line 77** it has bunch of classes and show them all in that statusline but didn't change its color.

http

[2021-09-23 04:34] SmiteshP commented on #17
nvim-gps is only providing the string output and doesn't do anything with colors. Its the statusline plugin coloring the component. 🤔

[2021-09-24 10:07] rodhash commented on #17
Oh... yeah that makes sense, I use lualine so something in there must be set to change its color when certain condition matches, but weird thing is, now it suddenly stopped changing color :man_shrugging:

[2021-09-24 10:14] rodhash commented on #17
Not sure if this is something worth it, but I was wondering if we can get it trimmed when the list of classes gets too long .. I suppose it must be done from lualine too right? Will look into that

[2021-09-24 12:04] lucasvianav opened #30 "I guess HTML support is broken"
Don't know how to to describe it much, but I opened an HTML file and suddenly could move anymore because was being spammed the following error.

[code]

[2021-09-25 05:32] SmiteshP commented on #30
As a temporary measure you can disable html in setup function.

Does this happen for every html file or some specific file? If its for some specific file, could you share it with me so I can reproduce this issue.

[2021-09-25 06:42] SmiteshP opened #31 "Breaking changes in cpp parser"
Figure out which queries are affected by https://github.com/tree-sitter/tree-sitter-cpp/pull/133

[2021-09-26 15:06] lucasvianav commented on #30
Hello @SmiteshP, sorry for the delay.

Unfortunately I can't share the files because it's from my work, but I got the error on multiple HTML files in an Angular project.

From what I could notice, it happens when the cursor is over Angular stuff - either a component or a normal HTML tag with Angular directives (like `[routerLink]`, `*ngFor`, etc) - and works fine on standard HTML.

[2021-09-27 03:52] SmiteshP commented on #30
Could you share some dummy file with angular tags where you encounter this issue? I am not familiar with Angular 😓

[2021-09-27 14:23] lucasvianav commented on #30
Sure, no worries. I tested it without generating a whole Angular project and the same error happens. Take a look at the following code:
[code]

- `*ngFor="let item of items"` means that this`<p>` tag will be repeated in a for loop for every element of the `items` list.
- `*ngIf="visible"` means that those `<p>` tags will only be actually created if the variable `visible` is true.
- `[class.custom]

[2021-09-28 05:35] SmiteshP commented on #30
Thanks for the code snippet. I have determined that the error is because the tag is across multiple lines.

[2021-09-28 06:08] SmiteshP commented on #31
Only last two queries seem to be broken

[2021-09-28 08:41] #31 closed

[2021-09-28 08:49] SmiteshP commented on #30
Hey @lucasvianav
Could you checkout the latest commit. It should fix this issue :)
I also modified the regex to also capture ` - ` in a tag. This will allow `app-data` to be captured completely. Are there any other non alpha-numeric characters that can appear in a html tag?

[2021-09-28 12:13] lucasvianav commented on #30
Oh, I see. Makes sense.

Awesome, I'll try it later today!

Not that I've seen so far.

[2021-10-03 02:28] lucasvianav commented on #30
Hey @SmiteshP sorry for disappearing. It's working fine now, thanks :)

[2021-10-03 02:28] #30 closed

[2021-10-10 04:14] SmiteshP commented on #17
I am open to changing this behavior, right now I have just replicated the behavior of vscode's breadcrumbs.

[2021-10-22 09:40] benoit-intrw opened #36 "Error "module 'vim.ui' not found" with neovim master branch"
First, thanks for this really useful plugin, I think it is not enough known.

I got the following error on neovim master branch :
`                                                                                          NVIM v0.6.0-dev+501-gcb15055c2
~
~                                                                                   Nvim is open source and freely distributable
~

[2021-10-27 19:43] Bruflot opened #37 "A configurable 'depth' option"
Let's say you have a function:
[code]
It's not always entirely useful to see the entire scope of the function. Instead, I think it would be neat if you could configure the (inverse) depth of scopes that nvim-gps will display. For example, with a depth of 2, it would show:
[code]
and with a depth of 3, it would show:
[code]

[2021-11-01 16:30] #36 closed

[2021-11-01 16:32] SmiteshP commented on #37
Sure, this seems useful. I will try to implement this. :)

[2021-11-03 14:36] SmiteshP commented on #37
Hello @Bruflot. You can checkout the latest commit for this feature.

[2021-11-03 14:36] #37 closed

[2021-11-04 19:14] Bruflot commented on #37
Great job, thanks!

[2021-11-13 04:22] thetic opened #42 "JSON does not honor `separator` config option"
## Given

[code]

## Expected behavior

In a JSON file, `gps.get_location` uses `  ` as the separator.

## Actual behavior

In a JSON file, `gps.get_location` uses ` > ` as the separator.

[2021-11-13 06:40] #42 closed

[2021-11-13 06:41] SmiteshP commented on #42
Hi @thetic !
Thanks for the bug report. The latest commit should have fixed this issue :)

[2021-11-14 18:17] ikalnytskyi opened #46 "Add option to turn off icons rendering"
Is it possible to add an option to turn off icons? I personally found them quite noisy especially when you are in a quite nested context. Currently it's inconvenient to override every single icon with empty string.

[2021-11-15 09:34] ikalnytskyi commented on #46
In fact, I think it would be super cool to provide some kind of formatting function that would receive a symbol name and a symbol kind and would return a formatted string. That would allow to (1) remove icons from rendering, (2) render icons at the end, (3) do not insert nasty whitespaces right after the icon and (4) easily integrate this plugin with other icon maps (i.e. lspkind like plugins).

E

[2021-11-15 12:48] SmiteshP commented on #46
Hmm.. Definitely an interesting idea 🤔

[2021-11-15 23:08] ikalnytskyi commented on #46
If it's ok with you I can work on it and submit a PR.

[2021-11-16 03:31] SmiteshP commented on #46
PRs are always welcome 😄
But thinking more on this, the option will only be useful for removing icons or putting them to end. I am not sure if its worth it to add a separate option just to accommodate this.
I think a better solution would be to make a different function that returns the data in a table format. For example if the `get_location` returns ` class-icon class-name > method-icon method-n

[2021-11-16 14:12] ikalnytskyi commented on #46
I'm not sure I'm following you. Basically you're suggesting to have a function to format the whole location, not only a location segment. Is that right? I'm not sure I understand your example though.

[2021-11-16 15:55] SmiteshP commented on #46
So one function lets say `get_location_table` will return the context information to the end user in a table format and the `get_location` function will return a string as it does right now. So the idea being, the end user can use the information in the table however they please.

Example:
`get_location` returns ` foo >  bar`

the `get_location_table` will return the following table for the same

[2021-11-16 16:56] ikalnytskyi commented on #46
Ah, sorry, I've got confused by `scope` name since I didn't expect it to contain a symbol name.

Returning table, for instance, won't help you to put the icon at the end or remove the white-space after the item. But I agree that controlling segmented to render could be useful too. In fact, I think representation level should be easily changed by user. One idea I had in my is to have a location lin

[2021-11-17 03:52] SmiteshP commented on #46
Yep, that would be up to the user to do string concatenations the way they like their location info to look.

This too can be easily achieved by the end user once they have the information in table format.

[2021-11-24 06:46] LSleutsky opened #47 "How to actually setup?"
This plugin looks amazing, but I am not understanding how to actually set this up? In which file am I supposed to call

[code]

My SpaceVim config is all in `.vim` files / Vimscript. I am not really familiar with Lua. Where am I supposed to add the initial `setup` call to get this plugin to work? Then do I add the below function just to my `init.vim` file?

[code]

Sorry. I'm new to all this, and

[2021-11-24 15:48] Lazytangent commented on #47
I'm not a SpaceVim guy, but I got it working with these changes to the `~/.SpaceVim.d/init.toml` file and a new `~/.SpaceVim.d/after/plugin/plugins.vim` file. The second file just needs to be a file that gets read by the Vim runtimepath.

In the `init.toml` file, I added
[code]

Then in the `plugins.vim` file, I added

[code]

I got it to work in a JavaScript file after setting it up and letting i

[2021-11-24 17:09] LSleutsky commented on #47
I actually ended up figuring out how to get the plugin to work properly, but thank you so much! Your response is so much cleaner and more concise, so I'll be refactoring. Thanks again!!

[2021-11-24 17:09] #47 closed

[2021-11-25 07:28] LSleutsky opened #48 "Arrow Functions Not Showing in Statusline"
I have been using this plugin and it's really awesome, but I just realized of an issue where this does not work as intended.

I use SpaceVim as an editor primarily for ReactJS code, and let's say I have a function/method written like this:

[code]

Whenever my cursor is inside the function, the statusline will in fact display `someRandomMethod()`. Great! However, if my cursor is inside an arrow me

[2021-11-26 06:43] SmiteshP commented on #48
Might be a bug. 🤔

I am not familiar with java-script and React, but after trying out the given example nvimgps doesn't capture anything in it. After looking up the syntax, it seems the example is missing the `function` and `let` keywords for the regular function and arrow function respectively.

Also I would like to tag @Lazytangent in this issue. He has contributed to JS ans TS before and may be

[2021-11-26 15:38] Lazytangent commented on #48
With my current setup using a nightly build of Neovim, I can't reproduce the bug. But it does come up when running Neovim v5 with SpaceVim. I can trigger the status line to update to show the right method if I save the file while in one of the arrow functions, which makes me think that the status line just doesn't update that section when the cursor moves around. I'll comment again when I get more

[2021-11-26 15:46] LSleutsky commented on #48
Hmm interesting. I guess SpaceVim is more specific in certain areas than I thought. In the previous post the author did write tho that in my examples there wasn’t a `let` or `function` keyword, which made me wonder. Is that what the plugin looks for. An explicitly defined `function`? If so, then how come bound React functions work normally? I’m looking into this as well, but am extremely new to Vi

[2021-11-26 15:50] Lazytangent commented on #48
The plugin uses Treesitter queries to parse the name of the function based on its location in the tree and the type of the node. I'm guessing @SmiteshP was running the code snippet from the original post outside of a `class` block, which is why he had to add the `let` and `function` keywords.

[2021-11-26 18:07] Lazytangent commented on #48
Weird, I'm getting different results testing with a nightly build of Neovim and SpaceVim. It's updating just fine with this setup. I'm gonna do some more testing with the stable v0.5 build of Neovim and let you know what I see.

[2021-11-26 18:15] Lazytangent commented on #48
So I have it working now with the stable build of Neovim and SpaceVim, turns out it was how I scoped the Vimscript function when using the plugin for the statusline.

I had
[code]

Getting rid of the `s:` part in both the function name and the SpaceVim method got it to update properly. I have a feeling this wasn't your problem, but I figured I'd share anyways.

All that to say, I can't seem to rep

[2021-11-30 11:59] LSleutsky commented on #48
Hey my bad, I was unavailable for the last few days. So I was able to actually get it to display properly when removing the `s:` scoping in the function name and default SpaceVim call.

Thanks for troubleshooting with me, much appreciated!

Will be closing this...

[2021-11-30 11:59] #48 closed

[2021-11-30 12:55] rebelot opened #49 "[feature] integrate with lspkind"
would it be possible to integrate with lspkind-nvim or automatically infer the icons defined in `vim.lsp.protocol.CompletionItemKind`? I know users can do that manually, but I think this could provide a nice OOTB feeling of integration

EDIT: sharing my config
[code]

[2021-12-02 08:49] ojroques commented on #46
I also would love to have an option to disable icons globally :) I previously turned them off manually but with the recent updates that adds more icons it's not very practical anymore.

[2021-12-05 07:20] SmiteshP commented on #49
This should be possible but I would prefer not to depend on another plugin for symbols. It would limit me to use only those symbols. I would rather have the users make this decision for themselves. 🤷🏽‍♂️
Maybe adding a section to the readme file would be a better option for people looking for such integration 🤔

[2021-12-07 11:26] gegoune opened #50 "No leading separator printed"
Hey, I can see on your screencasts that there is leading separator printed before first node. I am not seeing it locally. Has that changed since screencasts were recorded? Is there a way to restore that functionality?

[2021-12-08 09:06] SmiteshP commented on #50
It isn't a feature of nvim-gps, I was just my feline config adding the leading separator. 😅

This is the code I used to achieve it.
[code]

[2021-12-08 09:06] #50 closed

[2021-12-08 09:11] gegoune commented on #50
Aha, I tried something very similar for lualine but it was always displaying prefix, I see what you did there to avoid that. Thanks!

[2021-12-10 03:58] #49 closed

[2021-12-14 06:42] zbirenbaum opened #51 "Slow startup"
So I lazy loaded the plugin after my statusline (which is also lazy loaded and shouldn't slow startup), and call the gps init within my statusline, but whenever this plugin is enabled a startup time log shows ~.020 longer, which is 20% of my prior startup time of .1 . Is there anyway to reduce this? It may seem short but the lag is visible and I can't warrant using the plugin for 20% slower startu

[2021-12-18 11:20] SmiteshP commented on #51
I am not sure if lazy loading would slow down the setup function or not but I don't think there is anything that can be done to have a faster setup.
You could try using impatient.nvim to speed up your startup. It made my startup time a lot smaller. With impatient enabled, nvim-gps takes about 0.1 to 0.2 miliseconds to setup for me.

[2021-12-20 08:51] AckslD opened #52 "Icon reverses text"
I'm not sure what's going on and if it's `nvim-gps`'s fault but when I set the `container` icon to the one I want it reverses the whole text, see following screenshot for what I mean:

![gscreenshot_2021-12-20-094442](https://user-images.githubusercontent.com/23341710/146738673-f7a214b6-53f5-4587-baa4-43fc72f8f45f.png)

If I set it to eg `'c'` it's not reversed. It is also reversed if I just print

[2021-12-20 12:14] ruanyouxing opened #53 "comps.gps?"
The setup part for windline in usage instruction, what is comps in 'comps.gps',you didn't defined it right?

[2021-12-22 21:46] Chaitanyabsprip commented on #4
Hey, I just came across the FlutterOutline Command in the flutter-tools by akinsho. you could look into that how he's implemented that to add support for dart in your plugin

[2021-12-24 04:21] SmiteshP commented on #52
I am not able to reproduce this issue in my config. I am using alacritty and Input Mono font. Also tried it with the AUR fira code font you mentioned, still works fine for me.
So something else in your config must be reversing the text.

[2021-12-24 04:21] #51 closed

[2021-12-24 05:06] SmiteshP commented on #53
Yep, it's not defined in the example. comps is a table that holds component's info.

[2021-12-24 05:06] #53 closed

[2021-12-24 09:44] SmiteshP commented on #46
Sorry this took so long, I have been busy lately. I have a pull request ready, I will merge it once I feel its working fine.

[2021-12-25 01:23] ruanyouxing opened #55 "local 'config' (a nil value)"
i called function require('nvim-gps').get_location and recieve this error:
![image](https://user-images.githubusercontent.com/87190231/147375441-4a4d36bf-e80c-4c49-a322-47b71b3af2b7.png)
Can you fix this?

[2021-12-25 03:59] SmiteshP commented on #55
Can you share how you setup nvim-gps and which filetype caused this error?

[2021-12-25 04:09] #46 closed

[2021-12-25 06:45] ruanyouxing commented on #55
it shows no error, but now lualine config just get error "Unrecognized component"

[2021-12-25 06:48] ruanyouxing commented on #55
![image](https://user-images.githubusercontent.com/87190231/147379244-8ce372ed-e50a-468b-bbe8-555da8a11c55.png)
![image](https://user-images.githubusercontent.com/87190231/147379254-ebd6d40b-443c-4375-9c49-545168526917.png)

[2021-12-25 10:58] SmiteshP commented on #55
You are calling the functions, you just need to pass the functions to lualine. That is, remove the round brackets after gps.get_location and gps.is_available

Have a look at the example in README.

[code]

[2021-12-25 11:02] ruanyouxing commented on #55
thanks

[2021-12-25 23:27] #55 closed

[2021-12-27 15:18] AckslD commented on #52
Thanks for checking @SmiteshP, I'll let you know if I figure out why this happens :)

[2021-12-29 15:41] jdrouhard commented on #52
The problem is that some icons in nerdfonts switch the active direction for the bidirectional algorithm. I described [this issue](https://github.com/kyazdani42/nvim-web-devicons/issues/80) in nvim-web-devicons which has the same issue for some filetype icons (tex and svg are ones I know of for certain).

If you surround the icon with the direction isolates like I describe there, it should fix your

[2021-12-29 15:43] jdrouhard opened #57 "Default container icon not in nerdfonts"
It doesn't look like the default "container" icon is actually a nerd font icon. It looks like the icon is 0x26f6 which isn't in https://www.nerdfonts.com/cheat-sheet and my nerd font doesn't have a glyph for it.

[2021-12-29 16:19] AckslD commented on #52
I see thanks for explaining @jdrouhard!

[2021-12-29 16:19] #52 closed

[2021-12-30 00:34] SmiteshP commented on #57
Hmm... Can you suggest a better alternative for the container icon, I don't like the default one either XD

[2021-12-30 01:16] jdrouhard commented on #57
Not sure, but whatever icon you're using now isn't actually in the nerdfont glyph table, so I'm not sure what it's supposed to be 😄

[2021-12-30 01:41] SmiteshP commented on #57
I actually like the icon suggested in issue #52, but I am afraid it may reverse text for some people

[2021-12-30 15:34] jdrouhard commented on #57
Just add the direction isolates around the icon and it'll work for everyone (U+2066 before, U+2069 after). I think 0xfb85 would be a fine choice. I'm curious what your font renders the current container icon as?

[2022-01-06 10:22] SmiteshP commented on #57
@jdrouhard It looks something like this for me. I am using Input Mono font patched with nerd fonts
![Screenshot from 2022-01-06 15-49-23](https://user-images.githubusercontent.com/43147494/148368038-3bab4af0-8973-4068-b460-7692f7673591.png)

[2022-01-07 05:16] #57 closed

[2022-01-12 14:43] steven-omaha opened #59 "no output with lualine.nvim"
Thank you for writing and maintaining this project!

I am on neovim-0.6.1. I am aware of #55, but that doesn't seem to fix the problem for me.

Problem: I do not see an output in lualine.

![screen](https://user-images.githubusercontent.com/35634100/149161407-89cf2248-5b43-4af1-87a4-ab9a55ab48e7.png)

The relevant part of my `vimrc` are (code copy and pasted from README.md)

[code]

My complete `v

[2022-01-13 04:41] SmiteshP commented on #59
Seems like you forgot to run the setup function. Just add the following line before lualine's setup

[code]

[2022-01-13 10:36] steven-omaha commented on #59
Thanks for the quick reply! I have now copy-pasted your second code block into my vimrc. Unfortunately, I still don't get any output in my status bar.

[2022-01-13 14:59] SmiteshP commented on #59
Could you try this? keep your cursor somewhere inside a scope (function or class) and then run the following command

[code]

let me know if this prints something

[2022-01-13 15:06] steven-omaha commented on #59
[code]

[2022-01-13 15:08] steven-omaha commented on #59
What's interesting is that when I execute `:TSUpdate`, treesitter tells me it is up to date already.

[2022-01-13 16:39] SmiteshP commented on #59
Looks like you haven't installed the treesitter parser.
Try this

[code]

nvim-gps won't give you any output if there is no parser installed for that particular language.

[2022-01-13 16:41] steven-omaha commented on #59
That fixed it. Thanks!

[2022-01-13 16:41] #59 closed

[2022-01-19 00:56] lizalc opened #61 "Error with lua files"
I'm encountering this startup error when opening a lua file:

[code]

Running `:lua print(require('nvim-gps').is_available())` once loaded return `true`.  Running `:lua print(require('nvim-gps').get_location())` returns the same  error as above.

`nvim-gps` does work great for other files, such as bash scripts.

#### Neovim version:

[code]

#### Minimal `init.lua`

Here is a minimal `init.lua` wh

[2022-01-19 07:42] #61 closed

[2022-01-19 07:51] SmiteshP commented on #61
I rewrote all the lua queries according to the new parser. Hope this solves the issue for everyone :)

[2022-01-22 05:43] SmiteshP commented on #17
Closing this issue as I believe all the points raised here have been addressed.

[2022-01-22 05:43] #17 closed

[2022-02-03 12:17] smartding opened #63 "same location for all buffers"
I have 2 different buffers in 2 split windows.

I expect the status line to show different locations for the 2 buffers, but the status line shows the same location for the 2 buffers.

I'm using neovim 0.7, I use the express_line plugin: https://github.com/tjdevries/express_line.nvim

Below is a lua function I used to integrate nvim-gps with express_line:

[code]

To fix the issue, maybe the `is_av

[2022-02-03 15:28] philipGaudreau opened #64 "Treesitter :TSModuleInfo crash"
Hi, while trying to generate the report of `:TSModuleInfo nvim-gps`, i get the following error:

[code]

Exact nvim version is `NVIM v0.7.0-dev+997-g21cdecc8e` and I use the default config.

Hope you can reproduce!

If you need more information, let me know.

[2022-02-03 15:41] philipGaudreau commented on #64
I usually use `ensure_installed = 'maintained'`. If I uninstall all languages and run `:TSModuleInfo nvim-gps` then it works, so it must be caused by a specific language.

[2022-02-04 02:41] smartding commented on #63
Or I can show context only for focused buffer

[2022-02-04 02:41] #63 closed

[2022-02-04 03:17] SmiteshP commented on #63
Hey! were you able to solve the issue yourself?

[2022-02-04 03:21] SmiteshP commented on #64
Yep, seems like the parser for elixir got updated.
Tagging @sbaildon as he might be able to help with this.

[2022-02-04 04:04] SmiteshP commented on #64
I am not able to open treesitter playground on elixir files, not sure whats the issue there. But without playground its difficult to fix this 😞

[2022-02-04 05:56] smartding commented on #63
@SmiteshP
The issue is still there, I just hide the location info for split windows that are not in focus.

[2022-02-05 11:05] #64 closed

[2022-02-05 13:17] nyngwang opened #67 "function parameters"
In the image the context is:

[code]

while I expect it would show something like this: (anonymous function is represented via `func`)

[code]

<img src="https://user-images.githubusercontent.com/24765272/152643612-3c1063c8-ef0e-4c0a-b679-3daa37b8e9f8.png" width="500"><img src="https://user-images.githubusercontent.com/24765272/152643538-5fba3113-171a-469f-ad9e-2f96371df117.png" width="500">

[2022-02-06 04:55] SmiteshP commented on #67
nvim-gps only shows named scopes.
here the `func` is anonymous, thus skipped. And `use` and `setup` are function calls so they aren't displayed.

[2022-02-06 04:55] #67 closed

[2022-02-06 16:14] nyngwang commented on #67
@SmiteshP: Could you provide an option for customization? It's boring to just show the named scopes :(

[2022-02-07 22:16] wookayin opened #68 "Programmatic interface of get_location()"
Thanks for the great plugin, I love that it works very well and fast.

I often need to access the (nested) location programmatically. It would be great if there is a function similar to `get_location()` that returns the location/hierarchy as a Lua table (list). The downside of current `get_location()` is that this is just a human-readable string that is ready for directly plugging into statusline

[2022-02-07 22:31] wookayin opened #69 "Dynamic update support"
It looks like that the context is not automatically updated while editing. Until I reload the file (so that GPS query can refresh), nvim-gps fails to show the context for newly added scopes.

![Screenshot](https://user-images.githubusercontent.com/1009873/152883105-87c4a28f-d015-4451-a01c-63a9890cd442.gif)

It would be great if we can support dynamic update of the context information powered by tr

[2022-02-08 05:35] SmiteshP commented on #68
Yep! I have been wanting to do this for sometime. But to me it seems I will have to rewrite/reorganize most of the code so I have been procrastinating on this 😆.

It would be great if you make PR 🚀
The table format you suggest looks good, the name maybe could be `get_location_table` 🤔

[2022-02-08 05:44] SmiteshP commented on #69
It should update dynamically. As soon as you exit insert mode, nvim-gps asks treesitter for new information to show. It seems that for some reason your treesitter isn't providing latest information 🤔

https://user-images.githubusercontent.com/43147494/152925448-9175dd66-e895-4ca2-a2a6-c02015036ae1.mp4

[2022-02-08 06:41] wookayin commented on #69
Hmm interesting. I am new to treesitter, so have no concrete ideas yet on how to debug this. FYI, my treesitter parser and plugins are up-to-date (and neovim is nightly-master). I have nothing special in my config, and `:checkhealth nvim-treesitter` seems fine.

The `TSPlayground` window also doesn't update and gets out of sync, so this might be related to the treesitter or its config itself.

[2022-02-08 17:26] wookayin commented on #69
@SmiteshP Is treesitter-playground as well automatically updating as you change the text?

[2022-02-08 17:38] SmiteshP commented on #69
Yep, playground should also update on the fly. So this means the issue is definitely with treesitter. You could try opening a issue on nvim-treesitter repo, they should be able to help.

[2022-02-08 17:42] #69 closed

[2022-02-08 21:26] wookayin commented on #69
Surprisingly, [nvim-treesitter/nvim-treesitter#2492](https://github.com/nvim-treesitter/nvim-treesitter/issues/2492#issuecomment-1033049114) says that currently the module `highlight` is required to make on-the-fly update work properly.

[2022-02-09 00:29] wookayin commented on #69
@SmiteshP So from the discussion nvim-treesitter/nvim-treesitter#2492 (-> nvim-treesitter/playground#64), it seems calling the parser to update the syntax tree for the current buffer (i.e., `parser:parse(buf, lang)`) is the responsibility of downstream treesitter plugins. Apparently both playground and nvim-gps missed that (and many other treesitter plugins probably also aren't aware of that).

I

[2022-02-09 02:56] wookayin commented on #69
@SmiteshP So the conclusion is that ensuring the parse tree is up-to-date is the module's responsibility, which is however often subsumed when the treesitter `highlight` module is enabled. I submitted a PR #70 that fixes this bug, even when the `highlight` module is absent.

[2022-02-09 04:59] SmiteshP commented on #69
Oh interesting! I did use to have an `InsertLeave` autocommand to update the parser but at some point I realised everything works fine without it too, so I removed it. 😆

[2022-03-01 09:46] #68 closed

[2022-03-01 09:48] SmiteshP commented on #68
Hey @wookayin!
Have a look at the latest commit, I have added a get_data function that will return the table information

[2022-03-03 20:31] justinrassier opened #77 "Add better support for TypeScript public class properties"
The TypeScript queries only display public methods (standard and arrow) but don't show standard public primitive fields (strings, numbers) or more complex examples like call expressions. In particular, the call expression properties are used in projects like [NgRx Effects](https://ngrx.io/guide/effects)

https://user-images.githubusercontent.com/1228424/156647802-8cf9a9b1-2b93-4516-8f2c-8aca144523

[2022-03-07 03:05] #77 closed

[2022-03-13 13:59] kiriDevs opened #79 "Space between icon and name missing for single node in HTML"
Usually, the plugin renders a space between the icon and the name for a node:

![image](https://user-images.githubusercontent.com/56218513/158062807-1c3edac3-1e63-4531-a82f-d4064d5720ed.png)
You can see the default space between statusline elements at position 1, the icon at position 2 and a space at position 3
(Note: The icon extends to position 3 a little because I am using a not-strictly-monosp

[2022-03-13 14:02] kiriDevs commented on #79
I've quickly switched the font to the `Mono` variant of the `CaskaydiaCove Nerd Font` that forces the icons to use the same space as anything else to get some more images.

Normal behaviour with a space at pos3 (between icon and name):
![image](https://user-images.githubusercontent.com/56218513/158063129-439dd803-2a0a-4133-a59f-ecd1d6d30631.png)

And the single-node behaviour with the 'h' from the

[2022-03-14 03:43] SmiteshP commented on #79
The plugin is returning the same amount of spacing between the icon and the text in both the cases you mentioned. Rendering of nerdfonts properly is the job of the terminal emulator and it can be hit or miss sometimes.
I would suggest you could try changing terminal emulators and/or Font to see if this issue is fixed.
You could also append one more space to the tag icon or change the tag icon to s

[2022-03-23 13:51] pagankeymaster opened #80 "Need help with statusline."
I was trying to integrate this to my custom statusline and at first it was working perfectly fine:
[code]
But the problem with the above snippet is that it throws error for filetypes that do not have a treesitter parser.
[code]
I used a workaround to get through this by the way:
[code]
Now everything was fine for a solid 3 days, until I opened a markdown file. Now, it again threw that same error.

[2022-03-23 16:18] SmiteshP commented on #80
I haven't looked at the config closely, but this error
[code]
will occur only when the `get_location` function is called when `is_available` is false.

[2022-03-23 17:20] pagankeymaster commented on #80
This is so embarassing! I wish I could delete this issue!!!
This is the code now... so much shorter.
[code]
Thanks for the quick response by the way!
Closing...

[2022-03-23 17:31] SmiteshP commented on #80
Haha no worries 😄

[2022-03-27 14:22] Ritzier opened #82 "Module 'nvim-treesitter.query' not found"
Error detected while processing /home/ritzier/.local/share/nvim/site/pack/packer/start/nvim-gps/plugin/nvim-gps.vim:
line    1:
E5108: Error executing lua ...ite/pack/packer/start/nvim-gps/lua/nvim-gps/internal.lua:1: module 'nvim-treesitter.query'

[2022-03-27 15:54] SmiteshP commented on #82
Have you installed `nvim-treesitter` plugin too? nvim-gps depends on it.

[2022-03-30 03:21] SmiteshP commented on #82
Closing, hopefully you were able to fix it.

[2022-03-30 03:21] #82 closed

[2022-04-04 00:09] Mo8it commented on #4
@SmiteshP Thank you for this awesome package!

Is it possible to add support for Julia?

I did take a look at how to add a language, but it is not that intuitive.

Thanks :)

[2022-04-11 18:51] Shatur opened #88 "Slow performance on big C++ files"
I've noticed that in large C++ files (22k lines, generated file) the cursor moves with a very noticeable delay if you move it quickly.

I would suggest to add a configurable delay into condition to avoid location calculation on every cursor move.

[2022-04-18 13:32] akinsho opened #89 "[Bug] nvim treesitter get node text has been deprecated"
It seems that in a recent nvim-treesitter update the `ts_utils.get_node_text` helper function has been deprecated in favour of using the now builting `vim.treesitter.get_node_text` this causes users on 0.7.0 using this plugin to see errors on startup.

Reference: https://github.com/nvim-treesitter/nvim-treesitter/commit/c3848e713a8272e524a7eabe9eb0897cf2d6932e

[2022-04-18 21:42] TheLeoP opened #91 "E523: Not allowed here constantly showing up using lightline.vim"
Trying to use nvim-gps for my status line  on Neovim 0.7 gives the following error:

[code]

But, if I manually call a few times (I tryed to debug this, but I couldn't) `:lua print(require'nvim-gps'.is_available())` and `:lua print(require'nvim-gps'.get_location())` the plugin just works normally (showing a deprecationg warning from treesitter that has already been addresses in another issue).

[2022-04-19 03:10] SmiteshP commented on #89
Hmm.. does this mean I will have to drop support for the older versions of neovim?

[2022-04-19 03:43] #89 closed

[2022-04-19 03:45] SmiteshP commented on #91
I have merged the pull request that replaces the deprecated function. Can you check if this error is solved now?

[2022-04-19 03:55] SmiteshP commented on #88
Hey @Shatur !
Yep, treesitter can be slow on large files.
One work around that you can implement for this is to create a buffer varable `vim.b.gps` and print that in the statusline. And setup a `CursorHold` autocmd that will update the variable `vim.b.gps = gps.get_location()`. Also you can throw in a `vim.cmd [[ redrawstatus ]]` for good measure.
This will cause the function to run only on Cursor

[2022-04-19 03:55] #88 closed

[2022-04-19 12:19] TheLeoP commented on #91
Yes, it's fixed now, thanks c:

[2022-04-19 14:19] dylanbyars-komodo opened #93 "Include object literals and arrays in `javascript` + `typescript` + `jsx` + `tsx` queries"
It's easy to get lost in a big nested object literal.

What if we added a new query that records the current key of the object the user is focused inside of? It would be best if the query worked at any level of nesting so an object like
[code]
would return `{} foo > {} bar > {} baz > {} bip`

I have a version that works for a single level of nesting but wanted to get a sense of whether this is a f

[2022-04-23 10:45] SmiteshP commented on #93
Hey! I am not that well versed with ts and js, but yeah, this seems like a good idea.

We need a query to work only for one level, the plugin is able to recursively walk up the tree and extract the same pattern again and again. Could you share your treesitter queries?

[2022-04-23 10:45] #91 closed

[2022-04-27 18:19] kassio opened #95 "Add golang package"
Would be nice if we could add the golang package as the first item of the nvim-gps list.

Currently we have:

<img width="328" alt="image" src="https://user-images.githubusercontent.com/120483/165592985-5a11c2e5-459b-4393-bd19-e1aa2142dde5.png">

I'd like to have something like (where the first `main` is the `package_identifier`):

<img width="104" alt="image" src="https://user-images.githubuserco

[2022-04-30 02:43] SmiteshP commented on #95
Hey! @kassio

It would not be possible to add package name as treesitter returns its scope to be only the first line. That is, the other functions methods aren't child nodes of the package node.
Technicalities aside, IMO it would make much sense to have the package name constantly show up throughout the whole file. It would take up valuabe space on statusline 😆

And about the method and type being

[2022-04-30 02:46] #95 closed

[2022-05-03 07:52] kassio commented on #95
I understand this point, and to be honest I was on the fence about that for a while. But I work in a large go project where all the packages have more than one file, and some functions/method names are duplicated among packages. Therefore, IMHO, having the current package name would be useful when jumping among files. Though, I understand the current limitations and will try to find another soluti

[2022-05-04 08:28] kassio opened #96 "[golang] location not calculated when curson on a commented"
- Language: golang
- nvim version: NVIM v0.8.0-dev+1582-gc051ea83d
- nvim-gps commit: 9552418fcbb9587025f4bd38364259b3888f582b

---

I couldn't identify the root cause of this, but when the cursor is on a comment the location is not being shown in the statusline. (I suppose something with the query):

https://user-images.githubusercontent.com/120483/166646250-0153642a-292d-41c0-a0ff-d65629364779.m

[2022-05-04 11:14] SmiteshP commented on #96
Yep! I am aware of this issue, unfortunately this happens because treesitter does not treat comment nodes as child for the function node. Instead comment nodes kind of get their own tree, so when on a comment node we are unable to get info about the containing scope.

PS - I am currently working on a LSP based plugin to provide full breadcrumbs like functionality. It should be able to give context

[2022-05-05 16:44] fgheng commented on #82
I have the same error and I have alse installed nvim-treesitter

[2022-05-06 01:53] Ritzier commented on #82
Try remove these two plugins, install nvim-treesitter and then install nvim-gps

[2022-05-09 21:48] rodhash opened #97 "Global config vs Lang config"
Hi

Not sure whether this is an issue but am I not able to set "string-name" globally? Do I need to add this for each language if I wish to customize it?

In the README we have the following example:
[code]

Adding  `["string-name"] = ' '` in there doesn't work, tried opening `yaml` files but doesn't work.

It works only when adding a custom configuation for "yaml", like it's shown in the README:

[2022-05-10 13:11] akinsho opened #98 "[Bug] Missing text error on exiting neovim"
Some function seems to be running whilst neovim is trying to exit, leading to a missing value. It seems to be querying treesitter for the current text whilst leaving nvim.

[code]

[2022-05-10 14:08] SmiteshP commented on #98
Can you share how to reproduce this issue?

[2022-05-10 14:09] SmiteshP commented on #97
Yep, this is expected. Only class, function, method, container and tag name are global.
However I can try to make this work for other names too.

[2022-05-10 14:23] akinsho commented on #98
Apologies just posted quickly whilst trying to attend to something else and I had the stack track to hand.

I have `nvim-gps` configured to show in my statusline using
[code]

and the plugin is configured using
[code]

It seems that there is an error in an LSP handler somewhere which calls `nvim_command('redraw')` which redraws my statusline. I think the LSP error is unrelated in the sense that wh

[2022-05-19 07:05] leaxoy opened #99 "Support show on winbar"
https://github.com/neovim/neovim/pull/17336 winbar ui has been merged into nightly, it's general to show the gps component, there is vscode example:
<img width="815" alt="image" src="https://user-images.githubusercontent.com/8556349/169230951-bcf60900-874f-4c5b-8ce1-6c7944a551e8.png">
and neovim example:
![image](https://user-images.githubusercontent.com/8556349/169231034-178da62a-514c-4856-a904-9

[2022-05-19 17:24] rockyzhang24 commented on #99
@wookayin Thanks for the code. However, `winbar` won't be updated automatically as `statusline` when we move cursor, so it seems we need to use `autocmd CursorMoved * ` to update it.

[2022-05-19 19:16] wookayin commented on #99
@rockyzhang24 No, that's not correct and the above code **works** as you'd expect. Did you try them out?`%v` expression means that the function will be called whenever needed (including after cursor update). Read the documentation:`:help statusline`

[2022-05-19 19:18] rockyzhang24 commented on #99
@wookayin confirmed that this is a bug of the newly added `winbar`(see this https://github.com/neovim/neovim/pull/17336#issuecomment-1132085879). I know it works as expected for statusline.

[2022-05-20 04:09] leaxoy commented on #99
Corner case, the winbar always shows even gps is not available.

Correct case
<img width="590" alt="image" src="https://user-images.githubusercontent.com/8556349/169448654-a5c513d1-5a9e-41d2-aebe-19c19af24b06.png">

Wrong case
<img width="639" alt="image" src="https://user-images.githubusercontent.com/8556349/169448699-a46ae789-851c-4ef3-a5d1-e4639cddea5e.png">

[2022-05-20 04:14] rockyzhang24 commented on #99
@leaxoy Use my code above and it works well. Because winbar won't be updated when you move your cursor, thus you need the autocmd to refresh it. When that mentioned issue gets fixed, you can remove the autocmd part.

[2022-05-20 15:19] rockyzhang24 commented on #99
@emuel-vassallo Using the autocmd is just a temporary workaround to solve the winbar update issue I mentioned above and it causes this telescope side effect. Waiting for the fix (https://github.com/neovim/neovim/pull/18646) to be merged, and then the autocmd will not be needed.

[2022-05-20 16:47] rockyzhang24 commented on #99
@emuel-vassallo Try to change the autocmd like this to avoid it disrupting telescope.
[code]

[2022-05-20 18:36] emuel-vassallo commented on #99
@rockyzhang24 That works, thank you!

[2022-05-22 13:19] SmiteshP commented on #98
Hey @akinsho ! Sorry for the delayed response. Can you share exactly when this redraw gets triggered? I tried setting redraw to various BufLeave, WinLeave, etc, etc autocmds, but wasn't able to reproduce the error.

Yeah, this can be done. But the text is retrieved using neovims treesitter api itself. So if neovim says that a node exists, it should be able to retrieve the text of that node, right?

[2022-05-22 13:21] SmiteshP commented on #99
Will add instructions in README on how to setup in winbar 👍🏽

[2022-05-22 13:51] akinsho commented on #98
@SmiteshP I'd patched the issue in my local copy so haven't seen it for a little while I'll remove that for a bit and report back regarding what event is triggering the redraw not sure how easy it will be to track down though since this issue happens whilst exiting neovim so I'm not sure where a redraw might be being triggered from and catching it whilst leaving neovim I'm guessing will be quite h

[2022-05-22 14:50] rockyzhang24 commented on #99
@SmiteshP Great! You can wait until that PR fixing the update bug gets merged.

[2022-05-22 18:54] max397574 commented on #99
it's merged

[2022-05-22 20:51] rockyzhang24 commented on #99
Great. Then adding gps to winbar is the same with adding it to statusline. It's very handy.

[2022-05-23 10:09] rebelot opened #102 "lua `:` methods are not recognized"
In lua, methods definitions using colon are not recognized.

compare

[code]
gps: ` `

[code]
gps: ` MyClass >  new`

[2022-05-25 00:17] luisiacc commented on #93
I Would totally use this feature

[2022-05-25 12:50] nghialm269 commented on #99
Now that https://github.com/neovim/neovim/pull/18650 is merged, is it possible to add click support to each part of gps to jump to it?

[2022-05-25 14:57] nghialm269 opened #103 "Support for clickable contexts to jump to their locations"
Now nvim support clickable items in statusline / winbar (https://github.com/neovim/neovim/pull/18650), is it possible to add click support to each context of gps to jump to it?

Maybe expose the location of each context in `gps.get_data` function, or add an new property to `opts` table in `gps.get_location` function to support click.

[2022-05-26 14:15] kdheepak opened #104 "Error when exiting neovim: `bad argument #1 to 'gsub' (string expected, got nil)`"
[code]

It appears that `text` here is `nil`:

https://github.com/SmiteshP/nvim-gps/blob/9552418fcbb9587025f4bd38364259b3888f582b/lua/nvim-gps/init.lua#L329-L330

Does a safeguard for `nil` need to be added?

[2022-05-29 14:47] #98 closed

[2022-05-29 14:47] #104 closed

[2022-06-03 09:45] siduck commented on #99
https://github.com/fgheng/winbar.nvim

[2022-06-03 10:48] siduck opened #108 "Unable to change background color of gps text"
Hi there! Ive changed the symbol colors but the bg color of the text doesnt change ( even in my statusline )

The symbols take colors from my cmpkind highlight groups

![image](https://user-images.githubusercontent.com/59060246/171839891-935c05fc-570c-4129-abb5-8e64c8280f02.png)

But Im unable to change the background color of the text of gps (plugins, config in this case)

![image](https://user-i

[2022-06-03 19:22] rodamaral commented on #82
I had the same problem using Packer. I fixed the issue by adding a **_after_** clause:

[code]

[2022-06-03 22:11] CSpencerND commented on #108
Similar issue on lualine. Basically same config.
![image](https://user-images.githubusercontent.com/61397897/171872781-d7ea585a-66fe-4761-8178-26714795d0e5.png)

[2022-06-03 23:39] siduck commented on #108
the symbols seem to use bg color from cmpkind highlight groups but the text look normal to me :think

[2022-06-05 06:11] siduck commented on #108
Fixed the issue

![image](https://user-images.githubusercontent.com/59060246/172037842-c3dcc337-e2e7-4b03-86c8-c4fbf259a257.png)

[2022-06-05 06:12] siduck commented on #108
I defined a separate list of highlight groups for GPS ( which changes fg/bg color of the symbols) and change bg color of "Statusline" highlight group, ig gps uses that for its text

[2022-06-05 06:12] #108 closed

[2022-06-07 08:49] Tartopohm opened #109 "Filetype detection working too slowly for plugin to work"
Hi there,

I have an issue loading the plugin; `is_available()` returns false systematically.
I poked around a little bit, and it seems to come from the value of `vim.bo.filetype` tested in the function.

If I set `filetype = 'on'` in my init, `vim.bo.filetype` gets set to `on`; if I do not set it (as far as I understand, it is not needed if `syntax = 'on'` is set), it seems to be nil.
If I want t

[2022-06-07 09:38] #109 closed

[2022-06-09 17:12] MordechaiHadad opened #110 "[Feature Request]: Allow having/changing highlights for the icons of groups"
I am talking something like:
[code]

I know it is probably possible with `gps.get_data()` but it will probably be a hassle to achieve.

[2022-06-11 04:39] #96 closed

[2022-06-11 07:23] LamprosPitsillos commented on #108
Could you please explain a bit more on how you fixed this? I am having a hard time adding colors to gps-nvim. Thanks

[2022-06-11 09:01] siduck commented on #108
[code]

First set highlight colors to the symbols

[2022-06-11 09:09] LamprosPitsillos commented on #108
No i do not know,
I did copy from your config before posting here, but it didn't work, this is the part i was missing surely!!
I will search around your config and the docs (:h api , :h highlight-groups) and i should be able to figure it out.
Thank you!

[2022-06-11 10:27] siduck commented on #108
@LamprosPitsillos
[code]

check the docs for deep understanding, i showed u a basic example c:

my config btw https://github.com/NvChad/NvChad :joy:

[2022-06-11 11:47] SmiteshP commented on #4
Hey @Chaitanyabsprip @Mo8it and @Suyashtnt !
Could you checkout my other plugin https://github.com/SmiteshP/nvim-navic ?
It is similar to nvim-gps but makes use of LSP instead of treesitter. So it won't need any special attention for every language, it will work as long as there is a language server for that language.

[2022-06-11 11:48] Suyashtnt commented on #4
Is there a way to integrate this into something like winbar.nvim?

[2022-06-11 11:49] SmiteshP commented on #4
Yep! If you are using feline.nvim just add the component to feline's winbar setup function. Or you can also use the native neovim way.

[2022-06-11 12:05] SmiteshP commented on #110
Hey @MordechaiHadad ! Could you try out my new plugin nvim-navic. It improves on nvim-gps and used Lsp instead of treesitter. Also added colored icons support to it.

[2022-06-11 12:22] SmiteshP commented on #108
Hey @LamprosPitsillos ! Could you try out my new plugin nvim-navic? I have added colours functionality in it.

[2022-06-11 14:43] Suyashtnt commented on #4
I'm talking about the plugin called winbar.nvim, is there a way to use this in a way that resembles it's look

[2022-06-11 17:40] MordechaiHadad commented on #110
@SmiteshP ayo this is awesome, what exactly made you move development to the new plugin?

[2022-06-11 18:51] gegoune commented on #110
@SmiteshP how about merging two plugins together with both methods of retrieving position available? Could have a LSP enabled by default with fallback to treesitter if no LSP functionality is available. Or is it too much of a maintenance burden?

[2022-06-11 18:52] MordechaiHadad commented on #110
@gegoune sounds like a pretty cool idea!

[2022-06-12 11:30] MordechaiHadad commented on #110
@SmiteshP what do you think of this?

[2022-06-12 16:49] SmiteshP commented on #110
Hey @MordechaiHadad @gegoune
I answered this question in https://github.com/SmiteshP/nvim-navic/issues/6

[2022-06-12 16:51] MordechaiHadad commented on #110
@SmiteshP thank you for your work!

[2022-06-12 16:51] #110 closed

[2022-06-19 21:57] OlegGulevskyy commented on #59
Hi, I am having the same issue, however I do not have any errors when running this
[code]
It correctly shows a path where the cursor is. However, inside the `lualine` there is no output at all.

I import `nvim-gps` like so

[code]

And add it to the lualine like so:
[code]

I have also tried without "nvim-gps" string literal in the table, like so:
[code]
No luck
<img width="944" alt="image" src="h